body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title, .announcer, .player-name-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2vh;
    padding-bottom: 0px;
    font-size: 46px;
    background-color: lightgray;
    width: 70vh;
}

.player-name-container{
    justify-content: space-around;
}

#player-name-1, #player-name-2{
    width: 120px;
}

.announcer{    
    font-size: 20px;
    padding: 1vh 2vh;
    text-align: center;
   
}

.board-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
    padding: 2vh;
    padding-top: 0px;
    width: 70vh;
    height: 70vh;
}

#board{
    background-color: black;
    width: 60vh;
    height: 60vh;
    display: grid;
    grid-template-columns:  repeat(3, 1fr);
    grid-template-rows:  repeat(3, 1fr);
    gap: 2px 2px;
    border: 2px solid black;
}

.game-square{
    min-width: 10px;
    min-height: 10px;
    background-color: white;
    font-size: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.game-square:hover{
    background-color: rgba(255, 255, 255, 0.925);
}